.ui.input {
    width: 100% !important;
}

.input_message_wrap {
    width: 85vw;
    margin:0px; 
    margin: 0;

}

@media (min-width: 800px) {

    .input_message_wrap {
        width: calc(80vw - 300px);
        max-width: 600px;
        position: absolute;
        left: calc(( 101% - 800px)/2 );
    }
}