.bottom_bar_wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.bottom_bar {
    height: 100px;
    background-color: #3798d4;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative
}

.messages_wrapper {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2d9dd173426833.5c08f5634ff45.png);
    background-color: white;
    background-repeat: repeat;
    background-size: 150px 200px;
}

@media (min-width: 800px) {
    .messages_list {
        max-width: 800px;
        scrollbar-width: none;
        margin: 0 auto
    }
    .messages_wrapper {
        align-content: center;
        align-items: center;
        display: block;
        text-align: center;
    }
}