.rce-mbox-text {
    min-height: 30px;
}

.rce-mbox-body {
    padding: 10px;
    min-width: 200px;
}

.user_message {
    display: block;
    height: auto;
    min-height: 50px;
    position: relative;
    min-height: 90px;
    padding: 10px;
    margin: 10px 0 40px 0 ;
    align-content: center;
    align-items: center
}
.message_box_left {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    padding: 0px 0 0 0;
    top: 30px ;
    left: 60px;
}
.message_box_right {
    display: inline-block;
    position: absolute;
    right: 60px;
    padding: 0px 0 0 0;
    top: 30px ;
}

.message_avatar_left {
    display: inline-block;
    left: 10px;
    position: absolute;
    margin: 0px 0 0px 0
}
.message_avatar_right {
    display: inline-block;
    right: 10px;
    position: absolute;
    margin: 0px 0 0px 0;
}




@media (max-width: 400px) {
    .rce-mbox {
        max-width: 65vw;
    }
}